*{
    padding: 0;
    margin: 0;

}

body{
    background-color: #353535;
}

header{
    border-bottom: 2px solid #372099;
    padding: 8px 24px;
}

header img{
    width: 100px;
    mix-blend-mode: color-burn;
}

.principal{
    margin: 30px 10px;
    width: 600px;
    height: 450px;
    background: linear-gradient(90.15deg, #570368 16.62%, #372099 85.61%);

    display: flex;
    align-items: center;
}
